*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, button{
  font-family: 'Helvetica Neue', arial, sans-serif;
}

body{
    padding-top: 58px;
}

.controls{
  padding: 1%;
  background: #333;
  color: #eee;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.pontainer{
  padding: 1% 1% 0;
  text-align: justify;
  font-size: 0.1px;
  /* background: #68b8c4; */
  
  -webkit-backface-visibility: hidden;
}

.pontainer:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.pontainer .mix,
.pontainer .gap{
  display: inline-block;
  width: 49%;
}

.pontainer .mix{
  text-align: left;
  /* background: #03899c; */
  margin-bottom: 1%;
  display: none;
}

/******** Here are the border colors of the different categories ********/

.pontainer .mix.glamour{
  /* border-top: 2px solid limegreen; */
  background: lightgreen;
}

.pontainer .mix.fitness{
  /* border-top: 2px solid yellow; */
  background: #ffff94;
}

.pontainer .mix.fashion{
  /* border-top: 2px solid pink; */
  background: pink;
}

.pontainer .mix.lingerie{
  /* border-top: 2px solid lightblue; */
  background: lightblue;
}

/* ****************************** */

.pontainer .mix:after{
  content: attr(data-myorder);
  color: gray;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.pontainer .mix:before{
  content: '';
  display: inline-block;
}

@media all and (min-width: 420px){
  .pontainer .mix,
  .pontainer .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .pontainer .mix,
  .pontainer .gap{
    width: 23.5%;
  }
}

/* suite mais pas de mixitup */

.icon-equalizer:before {
    content: "\e900";
}

img {
    max-width: 100%;
    max-height: 100%;
}